* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  background-color: rgb(209, 131, 59);
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-right: 20px;
  padding: 20px;
}

nav ul a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2px;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-top: -10px;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
